@import '../styles/_variables.scss';
@import '../styles/_mixins.scss';

.favorites-page {
  padding: 3vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  background-color: black;
}

.favorites-title {
  font-size: 5vh;
  margin: 0;
}

.favorites-instructions{
  margin: -.2vh 0 2vh 0;
}

.home-toggle {
  @include sideText();
  margin-bottom: 3vh;
}

.home-toggle:hover {
  color: $activeColor;
}

.favorite-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  align-content: center;
}
