@import '../styles/_variables.scss';
@import '../styles/_mixins.scss';

.image-page {
  display: grid;
  grid-template-columns: 15% 70% 15%;
  grid-template-rows: 1fr 1fr 1fr;

  .date-display {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    .up-arrow {
      @include arrowSize()
      margin: 0 .5em .3em .5em;
    }
    .current-date {
      @include sideText()
    }
    .down-arrow {
      @include arrowSize()
      margin: .5em .5em 0 .5em;
    }
  }

  .date-input {
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    @include sideInput()
    z-index: 0;
  }

  .info-prompt {
    grid-column: 1 / 1;
    grid-row: 3 / 3;
    @include sideText()
    z-index: 0;
  }

  .info-prompt:hover + .hidden-info {
    opacity: .8;
    color: green
  }
  .hidden-info {
    grid-row: 1 / 3;
    grid-column: 2 / 2;
    z-index: 0;
    opacity: 0.3;
    color: $textColor;
    padding: 5em;
    height: auto;
    .hidden-title {
      background: $hiddenBackground;
      width: auto;
      padding-top: .3em;
      text-align: center;
      font-size: 1.8em;
      margin-bottom: -.9em;
      border: solid white 5px;
      border-bottom: solid black .5em;
      border-radius: .4em .4em 0 0;
    }
    .hidden-explanation {
      background: $hiddenBackground;
      padding: .5em .5em;
      border: solid white 5px;
      border-radius: .5em;
      font-size: 1.5em;
      line-height: 1.4;

    }
    .hidden-copyright {
      background: $hiddenBackground;
      font-size: 1.5em;
      text-align: center;
    }

  }
  .large-image {
    grid-row: 1 / 3;
    grid-column: 2 / 2;
    max-height: 80%;
    max-width: 100%;
    justify-self: center;
    z-index: 0;
    // width: 3em;
  }



  .favorite-toggle {
    grid-column: 3 / 3;
    grid-row: 1 / 1;
    @include sideText();
  }
  .my-favorites-link {
    grid-column: 3 / 3;
    grid-row: 2 / 2;
    @include sideText()
  }

}
